<h1 id="main-title">Lista de Productos</h1>

<div id="products-container" >
{{#each products}}

    <div class="product">
        <p class="product-property">Title: {{this.title}}</p>
        <p class="product-property">Description: {{this.description}}</p>
        <p class="product-property">code: {{this.code}}</p>
        <p class="product-property">Price: {{this.price}}</p>
        <p class="product-property">Stock: {{this.stock}}</p>
        <p class="product-property">Category: {{this.category}}</p>
    </div>

{{/each}}
</div>

